*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ! 1 */
/* div{
    width: 50px;
    height: 50px;
    margin: 50px auto;
    border-radius: 50%;
    border: 5px solid #e81455;
    border-left-color:transparent;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    
}

div:hover{
    animation-play-state: paused;
}

div::before{
    content: "";
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #2493f7;
    border-top-color:transparent;
}
div::after{
    content: "";
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #fcb400;
    border-bottom-color:transparent;
}


@keyframes spin{
    0%{
        transform: rotate(0deg);
}
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
} */

/* ! 2 */

/* div{
    width: 50px;
    height: 50px;
    margin: 50px auto;
    border-radius: 50%;
    border: 5px solid #2493f7;
    border-bottom-color:transparent;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-play-state: paused;
}

div:hover,div:hover::before,div:hover::after{
    animation-play-state:running;
}

div::before{
    content: "";
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    border-radius: 50%;
    position: absolute;
    top: -13px;
    left: -13px;
    border: 5px solid #fcb400;
    border-bottom-color:transparent;
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-play-state: paused;
}
div::after{
    content: "";
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -20px;
    border: 5px solid black;
    border-bottom-color:transparent;
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-play-state: paused;
}


@keyframes spin{
    0%{
        transform: rotate(0deg);
}
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
} */

/* ! 3 */
/* span{
    display: block;
    width: 50px;
    height: 50px;
    margin: 50px auto;
    border-radius: 50%;
    background-color: #eee;
    border: 5px solid black;
    border-bottom-color:transparent;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: reverse;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
}
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
} */

/* ! 4 */

.parent{
    width: 500px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    /* gap: 2px 0px; */
    background-color: #eee;
    justify-content: center;
    align-items: center; 
    grid-template-columns: repeat(2,240px);
    grid-template-rows: auto; 
}

    
.E div,
.L div{
    background-color: #323234;
}

.E{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,40px);
    grid-template-rows: repeat(7,40px);
    position: relative;
}

.one{
    grid-area: 1/1/2/5;
}

.two{
    grid-area: 1/1/5/2;
}
.three{
    grid-area: 4/1/5/5;
}
.four{
    grid-area:4/1/8/2;
}
.five{
    grid-area: 7/1/8/5;
}

.E::before{
    content: "";
    width: 25px;
    height: 25px;
    background-color: #fea604;
    position: absolute;
    top: 7px;
    left: 170px;
    animation-name: move-E;
    animation-duration: 4s;
    animation-timing-function: linear;
    /* animation-direction: reverse; */
    /* animation-iteration-count: infinite; */
}

@keyframes move-E{
    0%{
        top: 7px;
        left: 170px;
    }
    10%{
        top: 7px;
        left: 48px;
    }
    20%{
        top: 128px;
        left: 48px;
    }
    30%{
        top: 128px;
        left: 170px;
    }
    40%{
        top: 128px;
        left: 48px;
    }
    50%{
        top: 247px;
        left: 48px;
    }
    60%{
        top: 247px;
        left: 170px;
    }
    70%{
        top: 247px;
        left: 48px;
    }
    80%{
        top: 128px;
        left: 48px;
    }
    90%{
        top: 7px;
        left: 48px;
    }
    100%{
        top: 7px;
        left: 170px;
    }
}

.L{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,40px);
    grid-template-rows: repeat(7,40px);
    position: relative;
}

.first{
    grid-area: 1/1/8/2;
}
.second{
    grid-area: 7/1/8/5;
}

.L::before{
    content: "";
    width: 25px;
    height: 25px;
    background-color: #fea604;
    position: absolute;
    top: 7px;
    left: 48px;
    opacity: 0;
    animation-name: move-L;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes move-L{
    0%{
        top: 247px;
        left: 170px;
        opacity: 0;
    }
    25%{
        top: 247px;
        left: 109px;
        opacity: 1;
    }
    50%{
        top: 247px;
        left: 48px;
        opacity: 1 ;
    }
    75%{
        top: 127px;
        left: 48px;
        opacity: 1 ;
    }
    100%{
        top: 7px;
        left: 48px;
        opacity: 0;
    }
}
