/* ! 1 */
/* div{
    background-color: #eee;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    box-shadow: 10px 0 0 0 #ff5722 , -10px 0 0 0 #03a9f4; 
    color: #ff5722;
    font-weight:bolder;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

/* ! 2 */

/* .parent{
    background-color: #eee;
    width: 600px;
    height: 300px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    padding: 1%;
}

.parent div{
    background-color: #ff5722;
    width: calc(85% / 3); 
    padding: 2%;
    text-align: center;
    color: white;
    font-weight: bolder;
} */

/* ! 3 */
/* 
.parent{
    width: 600px;
    height: 300px;
    background-color: #eeee;
    margin: 100px auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    padding: 1%;
    justify-content: space-around;
    align-content:space-between;
}

.parent div{
    background-color: #607d8b;
    width: calc(85% /3);
    text-align: center;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center
    ;
}
.one{
    order:1;
    height: 20px;
}
.two{
    height: 120px;
    order:2;
}

.five{
    order:3;
    height: 126px;
}

.six{
    order: 6;
    height: 126px;
}

.three{
    height: 20px;
    order: 5;
}

.four{
    order:4;
} */

/* ! 4 */

/* .parent{
    width: 600px;
    height: 300px;
    background-color: #eee;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-around;

.parent div{
    background-color: #009688;
    margin: 1%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one{
    align-self: flex-end;
    width: 10px;
    height: 60px;
}

.two{
    align-self: flex-start;
    height: 60px;
    width: 300px;
}
.three{
    align-self: flex-end;
    width: 10px;
    height: 60px;
}
 */

 /* ! 5 */
/* .parent{
    background-color: #eee;
    display: flex;
    width: 600px;
    height: 300px;
    padding: 10px;
    margin: 100px auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.parent div{
    width: calc(80% /4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.one{
    background-color: #ff9800;
    order: 2;
}
.three{
    background-color: #795548;
    order: 4;
}
.four{
    background-color: #673ab7;
    order: 1;
    align-self: flex-end;
}
.two{
    background-color: #8bc34a;
    order: 3;
    align-self: flex-end;
} */

/* ! 6 */
:root{
    --margin:1%;
    --padding:2%;
}
.page{
    background-color: #eee;
    margin: 1%;
    overflow: hidden;
}

/** HEADER */
.header{
    display: flex;
    justify-content: space-between;
    height: 4%;
}

.logo,.links{
    background-color: #ddd;
    padding: var(--padding);
    margin: var(--margin);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.links{
    list-style: none;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.links li{
    margin-left: 10px;
}

/* * MAIN */
.main-area{
    display: flex;
    justify-content: space-between;
}

.content,.sidebar{
    display: flex;
    background-color: #ddd;
    margin: var(--margin);
    padding: var(--padding);
    height: 300px;
}
.content{
    width: 77%;
}

.sidebar{
    width: 17%;
}

/* * FOOTER */

.footer{
    display: flex;
    padding: var(--padding);
    margin: var(--margin);
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
}