/**** DONE ****/

/* ! 1 */

/* div.main.red{
    color: red;
} */

/* ! 2 */

/* .parent .child:nth-child(2){
    color: red;
} */

/* ! 3 */
/* .parent:nth-child(2){
    color: red;
} */

/* ! 4 */

/* p:nth-child(1)+div+div+div,
div[title=Hello],
div[title=HTML]{
    color: red;
} */
/* ! 5 */

/* div:nth-child(2) div{
    color: red;
} */

/* ! 6 */
/* div:first-child div:nth-child(3),
div:nth-child(2) div:nth-child(4){
    color: red;
} */

/* ! 7 */

/* div:first-child div:nth-child(5){
    color: red;
} */

/* ! 8  */

/* div:nth-child(2),
div:nth-child(3),
p:nth-child(5){
    color: red;
} */
